@import "../styles/smartloc.css";


header
{
    background: right 0 bottom 0 / 40% no-repeat url("../../../assets/img/smartloc/illustrations/shapes/background_header_home.svg") #A896D8;
}

.headerClassique__titrage
{
    padding-top: 4.5rem;
    padding-bottom: 6.5rem; 
}
