*
{
    font-family: Roobert;
}

body
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* CHECKBOXES */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border: 1px solid rgba(0, 0, 0, 0.112);
    background-color: black!important;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    border: 1px solid rgba(0, 0, 0, 0.112);
    box-shadow: none !important;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    border: 1px solid rgba(0, 0, 0, 0.112);
    box-shadow: none !important;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    border: 1px solid rgba(0, 0, 0, 0.112);
    box-shadow: none !important;
}