//
// Base styles
//

.alert {
  position: relative;
  color: black !important;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);

  &>p{
    &:first-of-type{
      margin-top: 24px;
    }

    &:last-of-type{
      margin-bottom: 0px;
    }
  }
}

.alert-advice {
  position: relative;
  display: flex;
  align-items: flex-start;
  color: black !important;
  padding: $alert-padding-y $alert-padding-x;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);

  .advice-info{
    *:last-child{
      margin-bottom: 0;
    }
    
    .advice-title{
      margin-bottom: 1rem;
    }
    
    a{
      color: black;
      text-decoration: underline;
    }
  }

  .advice-illustration{
    width: 7rem;
    margin-right: 2.5rem;
  }

}

.alert-notice {
  position: relative;
  display: flex;
  align-items: flex-start;
  color: black !important;
  background-color: #F4F4F4;
  padding: $alert-padding-y $alert-padding-x;
  border-left: 8px solid;
  @include border-radius($alert-border-radius);

  .notice-info{
    *:last-child{
      margin-bottom: 0;
    }

    .notice-title{
      margin-bottom: 1rem;
    }

    a{
      color: black;
      text-decoration: underline;
    }
  }

  .notice-illustration{
    width: 7rem;
    margin-right: 2.5rem;
  }

}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
  display: flex;
  align-items: center;
  flex-direction: row;

  span{
    margin-left: 16px;
    font-weight: bold;
  }

  a{
    color: black;
    text-decoration: underline;
  }
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: $close-font-size + $alert-padding-x * 2;

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color), theme-color-level($color), theme-color-level($color));
  }
  
  .alert-advice-#{$color} {
    @include alert-variant(theme-color-level($color), theme-color-level($color), theme-color-level($color));
  }
  
  .alert-notice-#{$color} {
    border-color: theme-color($color);
  }
}