@import "../styles/smartloc.css";
@import "../styles/site-reccurent-elements.css";

body
{
    background-color: #F4F4F4;
}

/* HEADER */

header{
    position: relative;
    padding-bottom: 5rem;
}

/* MAIN */

section
{
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}

/* SECTION ARTICLE */

section.article
{
    padding-top: 0;
}

.article_frame
{
    background-color: #fff;
    padding: 144px;
    padding-top: 118px;
    margin-bottom: 8.5rem;
}

.article_subTitle
{
    margin-bottom: 1.5rem;
}

.article_title
{
    margin-bottom: 2rem;
}

.article_photo
{
    width: 100%;
}

.article_summary
{
    background-color: #F4F4F4;
    padding: 2rem 2.5rem;
    line-height: 32px;
    font-weight: bold;
}

.article_summary ul
{
    padding-left: 1rem;
}

.article_doubleImage
{
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: row; */
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.article_doubleImage img
{
    width: 47.5%
}

img.tweetImg
{
    width: 75%;
}

/* SECTION AIDE DE SEXPERTS */
.sectionExpertsHelp
{
    background-color: #fff;
}