@import "../styles/smartloc.css";


/* HEADER */

.headerHub
{
    padding-bottom: 8rem;
}

.headerHub_titling
{
    width: 40%;
    margin-top: 6rem;
}

.headerHub_illustration
{
    width: 50%;
    right: 10rem; 
}


/* responsive */

@media (max-width: 750px)
{
    header h1
    {
        width: 100%;
    }

    .shapes
    {
        display: none;
    }

    .header__barreRecherche
    {
        padding: 0 5rem;
    }
}