@import "../styles/smartloc.css";
@import "../styles/site-reccurent-elements.css";

body
{
    background-color: #F4F4F4;
}

main
{
    padding-bottom: 10rem;
}

/* HEADER */

header{
    position: relative;
    padding-bottom: 8rem;
    background-color: #F9DCA5;
}

header h1{
    width: 40%;
    margin-top: 6rem;
}

.header_searchBar
{
    width: 100%;
    padding: 0 10rem;
    position: absolute;
    bottom:0;
    left: 0; 
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 10;
}

/* ajouter a bootstrap */

.header_searchBar>form
{
    position: relative;
}

.header_searchBar input
{
    width: 100% !important;
    border-width: 1px;
}

.header_searchBar_icon
{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1rem;
    border: none;
    background-color: transparent;
    background-image: url(../../../assets/img/smartloc/icons/search.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.header_shapes
{
    width: 50%; 
    position: absolute;
    bottom:0;
    right: 10rem; 
}

/* MAIN */

section
{
    margin-top: 6.5rem;
}

.section_title
{
    margin-bottom: 2.5rem;
}

.sectionContact
{
    margin-top: 4.5rem;
}

/* responsive */

@media (max-width: 750px)
{
    header h1
    {
        width: 100%;
    }

    .shapes
    {
        display: none;
    }

    .header__searchBar
    {
        padding: 0 5rem;
    }
}