@import "../styles/smartloc.css";

/* INPUT DE TEXTE */

/* ZONE UPLOAD */

.zoneUploads
{
    border: 1px dashed rgba(128, 128, 128, 0.44);
    padding: 24px;
    border-radius: 4px;
}

/* SECTION JUSIFICATIFS COMPLEMENTAIRES */

.dropDownSection
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}