.alert
{
    padding: 32px;
    color: black !important;
}

.alertInfo
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.alertInfo span
{
    margin-left: 16px;
    font-weight: bold;
}