.alert
{
    padding: 32px;
    background-color: #EBB9B9;
    color: black !important;
}

.alertInfo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
}

.alertInfo span
{
    margin-left: 16px;
    font-weight: bold;
}