body
{
    background-color: #F4F4F4;
}


/* SECTION NAVIGATION étapes dossiers */

/* MAIN */


/* SECTION de formulaire */

/* .dossierLocataire__formulaire_section h3
{
    margin-top: 1.875rem;
    margin-bottom: 2rem;
} */
/* .dossierLocataire__formulaire_section h3:first-of-type
{
    margin-top: 0px;
} */

/* ASIDE */

aside 
{
    width: 30%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

aside h3, aside h4
{
    margin-bottom: 1rem;
}

aside p
{
    font-size: .875rem;
    line-height: 2rem;
}