body
{
    background-color: #F4F4F4;
}

main
{
    padding: 10rem;
    padding-top: 0;
}

/* HEADER */

header
{
    height : 2.5rem;
    margin-bottom: 3.75rem;
    padding: 0px 10rem 0px 10rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; 
}

.headerDossiers_buttonsContainer
{
    height: inherit;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    width: 42%;
}

.headerDossiers_buttonsContainer a 
{
    margin-left: 1rem;
    text-decoration: none !important;
}

.headerDossiers_buttonsContainer a:first-child
{
    color: black !important;
}

/* SECTION NAVIGATION étapes dossiers */

.topNav
{
    width: 75%;
    font-size: 1.125rem;
    margin-bottom: 2.75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.topNav img
{
    width: 1.5rem;
}

.topNav div
{
    opacity: 0.2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.navActive
{
    opacity: 1 !important;
}

.topNav span
{
    font-weight: bold;
    margin-left: .5rem;
}

/* HAUT DU DOCUMENT permanant */

.titreDossierLocataire
{
    margin-bottom: 2.75rem;
}

.choseFile
{
    margin-bottom: 3.25rem;
}

.choseFile span
{
    padding-bottom: 20px;
    margin-right: 1.5rem;
}

.choseFile span:first-child
{
    border-bottom: solid 2px black;
}

/* MAIN */

.mainContainer
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

/* SECTION de formulaire */

form
{
    width: 70%;
    margin-right: 2rem;
}

.formSection
{
    padding: 2rem 2.5rem 2.125rem 2.5rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 4px;
}

.form-group span
{
    margin-bottom: .5rem;
    display: inline-block;
}

.formSection h3
{
    margin-top: 1.875rem;
    margin-bottom: 2rem;
}

.formSection h3:first-of-type
{
    margin-top: 0px;
}

/* ASIDE */

aside 
{
    width: 30%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

aside h3, aside h4
{
    margin-bottom: 1rem;
}

aside p
{
    font-size: .875rem;
    line-height: 2rem;
}