/* HEADER */

header nav{
    width: 100%;
    height : 2.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo
{
    width: 140px;
}

.header__linksContainer
{
    height: inherit;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}

.header__linksContainer a
{
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none !important;
    color: black !important;
}

/* FOOTER */

footer{
    width: 100%;
    height: 32rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: white;
    background-color: black;
}

footer a{
    color: white !important;
}

.footer__containerLeft{
    width: 12.5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__containerLeft .whiteLogo{
    width: 140px;
}

.footer__containerLeft a{
    margin: 1rem 0;
}

.footer__containerLeft div img{
    width: 1rem;
    margin-right: 1rem;
}

.footer__containerRight{
    width: 75%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__containerRight .topPart{
    width: 55%;
    max-height: 6rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}
.footer__containerRight .topPart a{
    margin-bottom: .5rem;
    margin-right: 5.75rem;
    font-weight: bold;
}

.footer__containerRight .bottomPart{
    max-height: 12rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.footer__containerRight .bottomPart a{
    margin-bottom: .5rem;
    margin-right: 12.25rem;
    font-weight: bold;
}

.footer__line
{
    width: 100%;
    min-width: 850px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.footer__line--responsive{
    display: none;
}

@media (max-width: 1000px)
{
    footer{
        height: auto;
        padding: 3.75rem 5rem;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    footer>div:not(.footer__containerRight), .footer__containerRight>div:not(.bottomPart){
        margin-bottom: 2.5rem;
    }

    .footer__containerRight{
        width: 100%;
    }
    .footer__containerLeft{
        width: 20%;
    }

    .footer__line--responsive{
        display: block;
    }
}

