/************* HEADER *************/

/* header nav menu classique, toutes pages sauf dossiers locataires */
.header_classicNav
{
    width: 100%;
    height : 2.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.header_classicNav_linksContainer
{
    height: inherit;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}

.header_classicNav_linksContainer a
{
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none !important;
    color: black !important;
}

/* header d'articles */
.headerArticle_titling{
    margin: 3.875rem 0 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.headerArticle_titling a{
    color:black;
}

.headerArticle_titling h1{
    margin: .5rem 0 0 0;
}

.headerArticle_infos
{
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.headerArticle_infos p
{
    margin-top: 0;
    margin-bottom: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
}

.headerArticle_infos img
{
    width: 48px;
    height: 48px;
    margin-left: .5rem;
}

/* headerSteps : header des pages bail, gestion locative, assuranceloyer impayé */
.headerSteps_titling
{
    margin-top: 7.5rem;
    margin-bottom: 10rem; 
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.headerSteps_titling_text
{
    min-width: 50%;
}

.headerSteps_titling_illustration
{
    max-width: 25%;
    min-width: 25%;
    margin: 0px 12.5%;
}
.headerSteps_titling_illustration img
{
    width: 100%;
    height: auto;
}


.headerSteps_infos, .headerSteps_step, .headerSteps_steps_container
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.headerSteps_infos
{
    margin-bottom: 8rem;
}

.headerSteps_infos_title
{
    min-width: 16rem;
}

.headerSteps_infos_content
{
    margin-left: 2rem;
}

.headerSteps_infos_content ul li
{
    line-height: 1.5rem;
    margin-bottom: .375rem;
}

.headerSteps_steps_container
{
    margin-bottom: 3.5rem;
}

.headerSteps_step
{
    width: 31%;
    height: 7.5rem;
    padding: 0 1.75rem;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
}

.headerSteps_step_number
{
    margin-right: 1.5rem;
    font-size: 4.5rem;
    font-family: Roobert;
}

.headerSteps_step_text
{
    width: 125px;
    margin-bottom: 0;
}

/************* FOOTER *************/

footer
{
    width: 100%;
    height: 32rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: white;
    background-color: black;
}

footer a
{
    color: white !important;
}

.footer_containerLeft
{
    width: 12.5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer_containerLeft .whiteLogo
{
    width: 140px;
}

.footer_containerLeft a
{
    margin: 1rem 0;
}

.footer_containerLeft div img
{
    width: 1rem;
    margin-right: 1rem;
}

.footer_containerRight
{
    width: 75%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer_topPart
{
    width: 55%;
    max-height: 6rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}
.footer_topPart a
{
    margin-bottom: .5rem;
    margin-right: 5.75rem;
    font-weight: bold;
}

.footer_bottomPart
{
    max-height: 12rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.footer_bottomPart a
{
    margin-bottom: .5rem;
    margin-right: 12.25rem;
    font-weight: bold;
}

.footer_line
{
    width: 100%;
    min-width: 850px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.footer_line_responsive
{
    display: none;
}

/************* OBJETS RECCURENTS SUR LE SITE *************/

/* alertes-advice, messages de conseil du même style que les alertes */
/* coeur du composant ajouté au code source de bootstrap sous le nom de alerte-advice, étant une alerte modifée, au côté de alerte-notice qui en est une variante */
.alert-advice_italicText
{
    font-size: 1.125rem;
    line-height: 2rem;
    font-style: italic;
}

/* encadré push, encadrés de couleur avec shapes en background pour la promotion du service smartloc */
.framePromotion
{
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding: 2.5rem 0;
    border-radius: 4px;
    text-align: center;
}

.framePromotion_backgroundImage
{
    position: absolute;
}
.framePromotion_backgroundImage:nth-of-type(1)
{
    width: auto;
    height: 95%;
    left: 0;
    bottom: 0;
}
.framePromotion_backgroundImage:nth-of-type(2)
{
    width: auto;
    height: 60%;
    right: 0;
    bottom: 0;
}
.framePromotion_purple 
{
    background-color: #A896D8;
}
.framePromotion_yellow 
{
    background-color: #F9DCA5;
}

/* encadré rose et shapes colorées de contact de conseiller avec bouton "contacter un conseiller" */
.frameContactConseiller
{
    width: 100%;
    height: 28rem;
    padding: 30% auto;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #EBB9C2;
}

.frameContactConseiller_content
{
    width: 45%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 10;
}


.frameContactConseiller_title
{
    margin-bottom: 2.5rem;
    text-align: center;
}

.frameContactConseiller img
{
    position: absolute;
}

.frameContactConseiller img:first-of-type
{
    top: 0;
    left: 0;
    width:20%;
}
.frameContactConseiller img:nth-of-type(2)
{
    top: 0;
    right: 2%;
    width:30%;
}
.frameContactConseiller img:nth-of-type(3)
{
    bottom: 0;
    left: 5%;
    width:25%;
}
.frameContactConseiller img:nth-of-type(4)
{
    bottom: 0;
    right: 0;
    width:30%;
}

/************* CARDS *************/

/* container des cards présent sur l'ensemble du site */
.cardsContainer_row
{
    margin-top: -2rem; /* Permet de remonter le container et permettre un margin top sur les cards enfants pour eviter mauvais reponsive */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.cardsContainer_column
{
    margin-top: -2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

/* permet de selectionner n'importe quel objet de type card, meme les non-bootstrap, qui sont à l'intérieur de n'importe quel cardsContainer*/
.cardsContainer_row .card, .cardsContainer_column .card
{
    margin-top: 2rem; /* Applique un margin top sur les cards pour eviter mauvais reponsive */
}

/* petites cards sur une seule ligne avec un icone */
/* ecrase le margin original pour l'adapter aux petites cards */
.smallCardsContainer
{
    margin-top: -1rem;
}

.smallCardsContainer .smallCard
{
    margin-top: 1rem;
}

.smallCard
{
    font-weight: bold;
}

.smallCard_icon
{
    width: 1.5rem;
    margin-right: .25rem;
}

/* cards de categorie, present sur pages hub home et hub categories */
.categoriesCard
{
    width: 16rem;
    border: none;
}

.categoriesCard_illustration
{
    width: 50%;
}

/* cards d'articles a lire */
.articlesCard
{
    max-width: 22rem;
    border: none;
}

.articlesCard_infos
{
    padding-top: .5rem;
    padding-bottom: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.articlesCard_preview p
{
    margin-bottom: 0;
}



/************* SECTIONS RECCURENTES SUR LE SITE *************/

.page_section
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.page_section_content
{
    margin-left: 2rem;
}

.page_section_sideTitle
{
    max-width: 16rem;  /* permet de donner une taille absolument constente */
    min-width: 16rem;  /* et eviter les resizes automatiques */
}

/* permet de selectionner toutes les div subElements sauf la derniere */
.section_subElement:not(:last-child) 
{
    margin-bottom: 2.5rem;
}
/* permet de retirer un eventuel margin bottom non désiré a la fin d'un subElement */
.section_subElement>*:last-child
{
    margin-bottom: 0;
}

.subElement_title
{
    margin-bottom: 1em
}

/* stickynav haut d'ecran avec bouton demarrer */
.stickyTopNav
{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 10rem;
    padding-top: .875rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    z-index: 20;
}

 .stickyTopNav_linkContainer
{
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}   

.stickyTopNav_item
{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-bottom: 20px;
    margin-right: 1.5rem;
    color: black;
    transition: .1s ease-in-out;
}
.stickyTopNav_item:hover
{
    color: black;
    text-decoration: none;
    border-bottom: solid 2px rgba(0, 0, 0, 0.493);
}

.stickyTopNav_item_active
{
    border-bottom: solid 2px black;
}

.stickyTopNav_button
{
    width: 176px;
    height: 32px;
    padding: .25rem 0;
}

.stickyTopNav_jumper
{
    position: absolute;
    top: -3rem;
}

/* stickynav sur le cote d'une section */
.stickySideNav
{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
}

.stickySideNav_item
{
    color: rgba(0, 0, 0, 0.6);
    transition: .1s ease-in-out;
}
.stickySideNav_item:hover
{
    color: black;
    text-decoration: none;
}
.stickySideNav_item_active
{
    color:black;
}

/* permet, au moment du saut dans la page grace a l'ID, que la stickyNav ne cache pas le nom de partie */
.stickySideNav_jumper
{
    position: absolute;
    top: -5rem;
}

/* section accompagnement des experts sur bail, gestion et assurance */
.sectionExpertsHelp h1
{
    margin-bottom: 5rem;
    text-align: center;
}

.expertsHelpCard
{
    width: 352px;
    height: 256px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
}

.expertsHelpCard_illustration
{
    width: 96px;
    margin-bottom: .5rem;
}

.expertsHelpCard h4
{
    text-align: center;
}

.bail_card
{
    background: left 0 bottom 0 / 30% no-repeat url("../../../assets/img/smartloc/illustrations/shapes/background_card_1.png") #f4f4f4;
}
.gestion_card
{
    background: left 0 bottom 0 / 50% no-repeat url("../../../assets/img/smartloc/illustrations/shapes/background_card_2.png") #f4f4f4;
}
.assurance_card
{
    background: right 0 bottom 0 / 40% no-repeat url("../../../assets/img/smartloc/illustrations/shapes/background_card_3.png") #f4f4f4;
}


/* section de contact des experts pour vous aider */
.sectionExpertsContact
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}

.sectionExpertsContact div
{
    margin-top: 4rem;
}

.sectionExpertsContact h1
{
    width: 28rem;
    text-align: center;
}

.sectionExpertsContact_images
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
}

.sectionExpertsContact_images img
{
    width: 15%;
    min-width: 6.5rem;
    margin: 0 1.25rem; 
}

.sectionExpertsContact_links a
{
    margin: 0 8px;
}

/* section violette avec shapes et bouton demarrer  */
.sectionSmartlocHelp
{
    width: 100%;    
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #A896D8;
}

.sectionSmartlocHelp_content
{
    width: 45%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 10;
}

.sectionSmartlocHelp img{
    position: absolute;
}

.sectionSmartlocHelp_content h2{
    margin-bottom: 2.5rem;
    text-align: center;
}

.sectionSmartlocHelp img:first-of-type
{
    top: 0;
    left: 2%;
    width: 25%;
}
.sectionSmartlocHelp img:nth-of-type(2)
{
    top: 0;
    right: 5%;
    width: 20%;
}
.sectionSmartlocHelp img:nth-of-type(3)
{
    bottom: 0;
    left: 5%;
    width: 25%;
}
.sectionSmartlocHelp img:nth-of-type(4)
{
    bottom: 0;
    right: 5%;
    width: 25%;
}

/* section contenant smallcards de documents, avec menu nav noir */
.sectionDocuments .section_title
{
    width: 100%;
    text-align: center;
}

.sectionDocuments .blackMenu
{
    width: 75%;
    height: 3rem;
    margin: auto;
    margin-bottom: 6rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 25px;
}

.sectionDocuments .blackMenu_item
{
    width: 33.3333%;
    height: inherit;
    line-height: 3rem;
    margin-bottom: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sectionDocuments .blackMenu_item:first-of-type
{
    border-radius: 25px 0 0 25px;
}
.sectionDocuments .blackMenu_item:last-of-type
{
    border-radius: 0px 25px 25px 0;
}

.sectionDocuments .blackMenu_item:nth-child(2)
{
    border-left : 2px solid black;
    border-right : 2px solid black;
}

.sectionDocuments .blackMenu_item_active  /* classe pour le js */
{
    background-color: black;
    color: white;
}

.sectionDocuments .smallCard
{
    width: 48.5%;
}


/*********** RESPONSIVE ************/

@media (max-width: 750px)
{
    .cardsContainer_row
    {
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 1000px)
{
    footer
    {
        height: auto;
        padding: 3.75rem 5rem;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    footer>div:not(.footer__containerRight), .footer_containerRight>div:not(.bottomPart)
    {
        margin-bottom: 2.5rem;
    }

    .footer_containerRight
    {
        width: 100%;
    }
    .footer_containerLeft
    {
        width: 20%;
    }

    .footer_line_responsive
    {
        display: block;
    }
}

