/************* HEADER *************/

.logoSmartloc
{
    width: 8.75rem;
}

/* MENU HEADER CLASSIQUE, toutes pages sauf dossiers locataires */
.menuHeader
{
    width: 100%;
    height : 2.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.menuHeader__conteneurLiens
{
    height: inherit;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}

.menuHeader__conteneurLiens a
{
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none !important;
    color: black !important;
}


/* HEADER RESSOURCE HUB home et categories */
.headerHub
{
    background-color: #F9DCA5;
}

.headerHub_illustration
{
    position: absolute;
    bottom:0;
}

.headerHub .barreRecherche
{
    width: 100%;
    padding: 0 10rem;
    position: absolute;
    bottom:0;
    left: 0; 
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 10;
}


/* HEADER D'ARTICLE */
.headerArticle__titrage{
    margin: 3.875rem 0 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.headerArticle__titrage a{
    color:black;
}

.headerArticle__titrage_titre{
    margin: .5rem 0 0 0;
}

.headerArticle__titrage_articleInfos
{
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.headerArticle__titrage_articleInfos p
{
    margin-top: 0;
    margin-bottom: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
}

.headerArticle__titrage_articleInfos img
{
    width: 3rem;
    height: 3rem;
    margin-left: .5rem;
}

/* HEADER CLASSIQUE présent sur pages bail, gestion locative, homepage, etc */
.headerClassique__titrage
{
    padding-top: 7.5rem;
    padding-bottom: 10rem; 
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.headerClassique__titrage_texte
{
    min-width: 45%;
    max-width: 45%;
}

.headerClassique__titrage_titre
{
    margin-bottom: 1rem;
}

.headerClassique__titrage_sousTitre
{
    font-size: 1.125rem; 
}

.headerClassique__titrage_conteneurLiens
{
    margin-top: 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.headerClassique__titrage_conteneurLiens .headerClassique__titrage_bouton
{
    display: inline;
    margin-top: 0;
    margin-right: 2rem;
}

.headerClassique__titrage_bouton
{
    display: block;
    width: 17rem;
    margin-top: 2rem;
}

.headerClassique__titrage_conteneurIllustration
{
    width: auto;
    height: 18rem;
    padding: 0 15%;
}
.headerClassique__titrage_conteneurIllustration img
{
    width: auto;
    height: 100%;
}

/* cas comme homepage où illustration est une photo et pas une illustration */
.headerClassique__titrage_conteneurPhoto
{
    height: auto;
    width: 100%;
    margin: 0;
}

.headerClassique__titrage_conteneurPhoto img
{
    height: auto;
    width: 100%;
}

.headerClassique__commentCaMarche, 
.headerClassique__commentCaMarche_conteneurEtapes,
.headerClassique__commentCaMarche_etape
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.headerClassique__commentCaMarche
{
    margin-bottom: 8rem;
}


.headerClassique__commentCaMarche_conteneurEtapes
{
    margin-bottom: 3.5rem;
    width: 100%;
}

.headerClassique__commentCaMarche_etape
{
    width: 100%;
    margin-right: 1.5rem;
    height: 7.5rem;
    padding-right: 1.25rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
}
.headerClassique__commentCaMarche_etape:last-child
{
    margin: 0;
}

.headerClassique__commentCaMarche_etape_number
{
    font-size: 4.5rem;
    font-family: Roobert;
    width: 60%;
    text-align: center;
}

.headerClassique__commentCaMarche_etape_text
{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0;
}

.headerClassique__commentCaMarche_titre
{
    min-width: 16rem;
    max-width: 16rem;
}

.headerClassique__commentCaMarche_contenu
{
    width: 100%;
    margin-left: 2rem;
}

.headerClassique__commentCaMarche_contenu ul li
{
    line-height: 1.5rem;
    margin-bottom: .375rem;
}


/************* FOOTER *************/

footer
{
    width: 100%;
    height: 32rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: white;
    background-color: black;
}

footer a
{
    color: white !important;
}

.footer__conteneurSocial
{
    width: 12.5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__conteneurSocial a
{
    margin: 1rem 0;
}

.footer__logoReseauxSociaux
{
    width: 1rem;
    margin-right: 1rem;
}

.footer__conteneurLiens
{
    width: 75%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__conteneurLiens_haut
{
    width: 55%;
    max-height: 6rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}
.footer__conteneurLiens_haut a
{
    margin-bottom: .5rem;
    margin-right: 5.75rem;
    font-weight: bold;
}

.footer__conteneurLiens_bas
{
    max-height: 12rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.footer__conteneurLiens_bas a
{
    margin-bottom: .5rem;
    margin-right: 12.25rem;
    font-weight: bold;
}

div[class^="footer__ligneSeparation"]
{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.footer__ligneSeparation--responsive
{
    display: none;
}


/************* INPUTS *************/

/* BARRE DE RECHERCHE */
.barreRecherche>form
{
    position: relative;
}

.barreRecherche__champSaisie
{
    width: 100% !important;
    border-width: 1px;
}

.barreRecherche__bouton
{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1rem;
    border: none;
    background-color: transparent;
    background-image: url(../../../assets/img/smartloc/icons/search.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

/* BOUTONS OUI/NON VIOLETS */
.boutonsRadioViolets__conteneur
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.boutonsRadioViolets__conteneur label
{
    margin-bottom: 0px !important;
}
.boutonsRadioViolets__conteneur label:first-child
{
    margin-right: 1rem;
}

/* permet de cacher l'input pour n'afficher que le label */
.boutonsRadioViolets__conteneur label input[type="radio"]{
    display: none; 
}

/* permet de colorer le bouton si il est checké ou non */
.boutonsRadioViolets__conteneur label input:checked + div{
    background: #A896D8;
    border: 1px solid #A896D8;
    font-weight: 600;
}
.boutonsRadioViolets__conteneur label input + div{
    width: 4rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 52px;
    font-weight: 600;
}

textarea{
    resize: none;
}

.champSaisie--illustré
{
    position: relative;
    height: 3rem;
    display: block;
}

.champSaisie--illustré .form-control
{
    width: 100% !important;
    position: absolute;
}

.champSaisie--illustré span, 
.champSaisie--illustré svg
{
    position: absolute;
    font-weight: bold;
    line-height: 3rem;
    height: 3rem;
    right: 1rem;
}


/* BOUTONS UPLOAD CUSTOM */
.conteneurBoutonUpload--custom input[type="file"] {
    display: none !important;
}

.conteneurBoutonUpload--custom .boutonUpload-custom {
    height: 3rem;
    padding: 0px 2.25rem 0px 2.25rem;
    line-height: 44px;
    display: inline-block;
    border: 1.5px solid #D3D3D3;
    border-radius: .25rem;
    cursor: pointer;
}

/* ZONE CHECKBOXES */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border: 1px solid rgba(0, 0, 0, 0.112);
    background-color: black!important;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    border: 1px solid rgba(0, 0, 0, 0.112);
    box-shadow: none !important;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    border: 1px solid rgba(0, 0, 0, 0.112);
    box-shadow: none !important;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    border: 1px solid rgba(0, 0, 0, 0.112);
    box-shadow: none !important;
}

/************* OBJETS RECCURENTS SUR LE SITE *************/


/* alertes-advice, messages de conseil du même style que les alertes coeur du composant ajouté au code source de bootstrap sous le nom de alerte-advice, étant une alerte modifée, au côté de alerte-notice qui en est une variante */
.alert-advice__italicText
{
    font-size: 1.125rem;
    line-height: 2rem;
    font-style: italic;
}

/* encadré push, encadrés de couleur avec shapes en background pour la promotion du service smartloc */
.encadrementPromotion
{
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding: 2.5rem 0;
    border-radius: 4px;
    text-align: center;
}

.encadrementPromotion__imageBackground
{
    position: absolute;
}
.encadrementPromotion__imageBackground:nth-of-type(1)
{
    width: auto;
    height: 95%;
    left: 0;
    bottom: 0;
}
.encadrementPromotion__imageBackground:nth-of-type(2)
{
    width: auto;
    height: 60%;
    right: 0;
    bottom: 0;
}
.encadrementPromotion_purple 
{
    background-color: #A896D8;
}
.encadrementPromotion_yellow 
{
    background-color: #F9DCA5;
}

/* encadré rose et shapes colorées de contact de conseiller avec bouton "contacter un conseiller" */
.encadrementContactConseiller
{
    width: 100%;
    height: 28rem;
    padding: 30% auto;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #EBB9C2;
}

.encadrementContactConseiller__contenu
{
    width: 45%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 10;
}

.encadrementContactConseiller__bouton
{
    width: 17rem;
}

.encadrementContactConseiller__titre
{
    margin-bottom: 2.5rem;
    text-align: center;
}

.encadrementContactConseiller img
{
    position: absolute;
}

.encadrementContactConseiller img:first-of-type
{
    top: 0;
    left: 0;
    width:20%;
}
.encadrementContactConseiller img:nth-of-type(2)
{
    top: 0;
    right: 2%;
    width:30%;
}
.encadrementContactConseiller img:nth-of-type(3)
{
    bottom: 0;
    left: 5%;
    width:25%;
}
.encadrementContactConseiller img:nth-of-type(4)
{
    bottom: 0;
    right: 0;
    width:30%;
}


/* encadré gris */
.encadrement--gris
{
    background-color: #f4f4f4;
    border-radius: .25rem;
}


/* stickynav en haut d'ecran avec bouton demarrer */
.menuStickyPage
{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 10rem;
    padding-top: .875rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    z-index: 20;
}

 .menuStickyPage__conteneurLiens
{
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}   

.menuStickyPage__item
{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-bottom: 1.125rem;
    margin-right: 1.5rem;
    color: black;
    transition: .1s ease-in-out;
}
.menuStickyPage__item:hover
{
    color: black;
    text-decoration: none;
    border-bottom: solid 2px rgba(0, 0, 0, 0.493);
}

.menuStickyPage__item--active
{
    border-bottom: solid 2px black;
}

.menuStickyPage__bouton
{
    width: 11rem;
    height: 2rem;
    padding: .25rem 0;
}

.menuStickyPage__ancre
{
    position: absolute;
    top: -12rem;
}


/* stickynav sur le cote d'une section */
.menuStickySection
{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
}

.menuStickySection__titre
{
    margin-bottom: 2.375rem;
}

.menuStickySection__item
{
    color: rgba(0, 0, 0, 0.6);
    transition: .1s ease-in-out;
}
.menuStickySection__item:hover
{
    color: black;
    text-decoration: none;
}
.menuStickySection__item_active
{
    color:black !important;
}

.menuStickySection__ancre
{
    position: absolute;
    top: -12rem;
}


/* items drop down */
.dropDownItem
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.dropDownHead
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.dropDownHead_icon_open
{
    display: block;
}
.dropDownHead_icon_close
{
    display: none;
}


/* menu noir, present sur sections documents */
.blackMenu
{
    height: 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: .125rem solid black;
    border-radius: 25px;
}

.blackMenu_item
{
    width: 100%;
    height: inherit;
    line-height: 3rem;
    margin-bottom: 0;
    border-right: .125rem solid black;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.1s ease-in-out;
}
.blackMenu_item:first-of-type
{
    border-radius: 25px 0 0 25px;
}
.blackMenu_item:last-of-type
{
    border-right: none;
    border-radius: 0px 25px 25px 0;
}

.blackMenu_item_active  /* classe pour le js */
{
    background-color: black;
    color: white;
}



/************* CARDS *************/

/* container des cards présent sur l'ensemble du site */
.cardsContainer_row
{
    width: calc(100% + 2rem);   /* Permet d'agrandir et remonter le container ainsi permettre */
    margin-top: -2rem;          /*  un margin top sur les cards enfants pour eviter mauvais reponsive */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.cardsContainer_column
{
    width: calc(100% + 2rem);
    margin-top: -2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.cardsContainer_row .card, .cardsContainer_column .card
{
    margin-top: 2rem; /* Applique un margin top sur les cards pour eviter mauvais reponsive */
    margin-right: 2rem;
}


/* petites cards sur une seule ligne avec un icone */
.smallCardsContainer
{
    margin-top: -1rem; /* ecrase le margin original pour l'adapter aux petites cards */
}

.smallCardsContainer .smallCard
{
    margin-top: 1rem;
}

.smallCard
{
    font-weight: bold;
}

.smallCard_icon
{
    width: 1.5rem;
    margin-right: .25rem;
}



/************* SECTIONS RECCURENTES SUR LE SITE *************/

/* style de section general */
.page_section
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.page_section_content
{
    width: 100%;
    margin-left: 2rem;
}

.page_section_sideTitle
{
    max-width: 16rem;     /* permet de donner une taille absolument constente */
    min-width: 16rem;     /* et eviter les resizes automatiques */
}

.section_subElement
{
    position: relative;
}
.section_subElement:not(:last-child) 
{
    margin-bottom: 2.5rem; /* permet de selectionner toutes les div subElements sauf la derniere */
}

.section_subElement>*:last-child
{
    margin-bottom: 0; /* permet de retirer un eventuel margin bottom non désiré a la fin d'un subElement */
}

.subElement_title
{
    margin-bottom: 1em;
}


/* DOSSIERS LOCATAIRES */

/* ajouter les classes dossierlocataire aux mains des pages */
/* Inputs dans le formulaire */
.dossierLocataire .form-control 
{
    width: 50% !important;
}

.dossierLocataire .champSaisie--illustré
{
    width: 50%;  
}

/* Inputs fin de formulaire - Submit et autre */
.conteneurBoutonsFinFormulaire
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* ajouter la classe */
.conteneurBoutonsFinFormulaire__etapePrecedente 
{
    font-weight: bold;
    -ms-flex-item-align: center;
    align-self: center;
}

.conteneurBoutonsFinFormulaire button
{
    margin-left : 1rem;
}

.conteneurBoutonsFinFormulaire.sansEtapePrecedente
{
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.addLocataire
{
    display: inline-block;
    margin-top: 2rem;
    color: black;
    font-weight: bold;
}


/* SECTION SERVICES proposés sur la homepage */
.sectionServices
{
    padding-bottom: 0;
}

.serviceContainer
{
    height: 26.5rem;
    padding: 0 4rem;
    margin-top: 8.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.serviceContainer:first-child
{
    margin-top: 0;
}

.service_name
{
    font-size: .825rem;
    font-family: Roobert;
}

.serviceContainer_content
{
    width: 40%;
}

.service_featureList
{
    margin: 1.5rem 0;
}

.service_featureList li
{
    margin-bottom: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.service_featureList img
{
    margin-right: 12px;
}

.service_picture
{
    width: 50%;
    height: auto;
}

/* section de question */
.question_dropDown
{
    height: 3.125rem;
    margin-top: 2rem;
    border-bottom: 1px dashed black;
}
.question_dropDown:first-child
{
    margin: 0;
}

.question_dropDown .dropDownHead
{
    padding-bottom: 1.5rem;
}


/* section categorie, present sur pages hub home et hub categories */
.categoriesCard
{
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
    min-width: 15rem;
    max-width: 15rem;
    border: none;
}

.categoriesCard_illustration
{
    width: 50%;
}

.categoriesCard .card-body
{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}


/* section suggestion d'articles */
.sesectionArticlesSuggestion h2
{
    margin-bottom: 2.5rem;
}

.articlesCard
{
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    width: calc(100% - 2rem);
    border: none;
}

.articlesCard_infos
{
    padding-top: .5rem;
    padding-bottom: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.articlesCard_preview p
{
    margin-bottom: 0;
}


/* sections des pages hub home et categories */
.sectionHub
{
    padding-top: 6.5rem;   /* padding de sections des pages hub home */
    padding-bottom: 0;     /* et hub categorie differents du reste du site */
    background-color: #F4F4F4;
}
.sectionHub:last-child
{
    padding-bottom: 10rem;
}

.sectionHub_title
{
    margin-bottom: 2.5rem;
}


/* section temoignages */
.sectionTemoignages
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.sectionTemoignages h1
{
    text-align: center;
    margin-bottom: 6.5rem;
}

.temoignageCard
{
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    padding: 2rem;
    border: none;
    background-color: #f4f4f4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.temoignage_bottomContainer h6
{
    margin-bottom: 1.125rem
}

.temoignage_avisVerifPicture
{
    width: 11rem;
    margin-top: 5.5rem;
    margin-bottom: 2.5rem;
}

.temoignage_partenairesPicContainer
{
    width: 90%;
    padding: 0 10rem;
    position: absolute;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.temoignage_partenairesPicContainer img{
    width: auto;
    height: 3rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.temoignage_shape
{
    position: absolute;
}
.temoignage_shape.couronneNoir
{
    height: 20rem;
    left: 0;
    bottom: 5rem;
}
.temoignage_shape.rondJaune
{
    height: 20rem;
    right: 0;
    top: 0;
}


/* section accompagnement des experts sur bail, gestion et assurance */
.sectionExpertsHelp h1
{
    margin-bottom: 5rem;
    text-align: center;
}

.expertsHelpCard
{
    position: relative;
    width: calc(100% - 2rem);
    min-height: 16rem;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f4f4f4;
    border: none;
}

.expertsHelpCard_illustration
{
    width: 96px;
    margin-bottom: .5rem;
}

.expertsHelpCard h4
{
    text-align: center;
}

.expertsHelpCard_background
{
    position: absolute;
}

.bail_card .expertsHelpCard_background
{
    left:0;
    bottom: 0;
    height: 45%;
}
.gestion_card .expertsHelpCard_background
{
    left: 0;
    bottom: 0;
    height: 40%;
}
.assurance_card .expertsHelpCard_background
{
    right: 0;
    bottom: 0;
    height: 50%;
}


/* section de contact des experts pour vous aider */
.sectionExpertsContact
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.sectionExpertsContact h1
{
    width: 28rem;
    text-align: center;
}

.sectionExpertsContact_images, .sectionExpertsContact_links
{
    margin-top: 4rem;
}

.sectionExpertsContact_images
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
}

.sectionExpertsContact_images img
{
    width: 15%;
    min-width: 6.5rem;
    margin: 0 1.25rem; 
}

.sectionExpertsContact_links a
{
    width: 16rem;;
    margin: 0 8px;
}

/* section violette avec shapes et bouton demarrer  */
.sectionSmartlocHelp
{
    width: 100%;    
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #A896D8;
}

.sectionSmartlocHelp_content
{
    width: 45%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 10;
}

.sectionSmartlocHelp img{
    position: absolute;
}

.sectionSmartlocHelp_content h2{
    margin-bottom: 2.5rem;
    text-align: center;
}

.sectionSmartlocHelp_content a{
    width: 17rem;
}

.sectionSmartlocHelp img:first-of-type
{
    top: 0;
    left: 2%;
    width: 25%;
}
.sectionSmartlocHelp img:nth-of-type(2)
{
    top: 0;
    right: 5%;
    width: 20%;
}
.sectionSmartlocHelp img:nth-of-type(3)
{
    bottom: 0;
    left: 5%;
    width: 25%;
}
.sectionSmartlocHelp img:nth-of-type(4)
{
    bottom: 0;
    right: 5%;
    width: 25%;
}

/* section contenant smallcards de documents, avec menu nav noir */
.sectionDocuments .section_title
{
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
}

.sectionDocuments .blackMenu
{
    width: 75%;
    margin: auto;
    margin-bottom: 4rem;
}

.sectionDocuments .smallCard
{
    -ms-flex: 1 1 45%;
    flex: 1 1 45%;
    width: calc(100% - 2rem);
}


/*********** RESPONSIVE ************/

@media (max-width: 750px)
{
    .cardsContainer_row
    {
        -ms-flex-line-pack: center;
        align-content: center;
        justify-content: center;
        /* -ms-flex-direction: column;
        flex-direction: column; */
    }
}

@media (max-width: 1000px)
{
    footer
    {
        height: auto;
        padding: 3.75rem 5rem;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    footer>div:not(.footer__containerRight), .footer__conteneurLiens>div:not(.bottomPart)
    {
        margin-bottom: 2.5rem;
    }

    .footer__conteneurLiens
    {
        width: 100%;
    }
    .footer__conteneurSocial
    {
        width: 20%;
    }

    .footer__ligneSeparation--responsive
    {
        display: block;
    }
}

