@import "./inputs.css";

@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

*
{
    font-family: 'Archivo', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
}

h1
{
    font-size: 2.5rem;
    line-height: 3rem;
}

h2
{
    font-size: 2rem;
    line-height: 2.5rem;
}

h3
{
    font-size: 1.5rem;
    line-height: 2rem;
}

h4
{
    font-size: 1.125rem;
    line-height: 1.5rem;
}

h5
{
    font-size: 1rem;
    line-height: 1.5rem;
}

main{
    width: 100%;
    padding-bottom: 10rem;
}

section, header, footer
{
    padding: 0px 10rem;
    width: 100%;
}


@media (max-width: 1000px)
{
    main, header, footer
    {
        padding: 0px 5rem;
    }

    main{
        padding-bottom: 5rem;
    }
}