@import "./inputs.css";
@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

*
{
    font-family: 'Archivo', sans-serif;
}

header
{
    width: 100%;
    padding-top: 2.5rem;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
}

h1
{
    font-size: 2.5rem;
    line-height: 3rem;
}

h2
{
    font-size: 2rem;
    line-height: 2.5rem;
}

h3
{
    font-size: 1.5rem;
    line-height: 2rem;
}

h4
{
    font-size: 1.125rem;
    line-height: 1.5rem;
}

h5
{
    font-size: 1rem;
    line-height: 1.5rem;
}
h6
{
    font-size: .875rem;
    line-height: 1.5rem;
}

main{
    width: 100%;
}

section, header, footer
{
    position: relative;
    padding-right: 10rem;
    padding-left: 10rem;
    width: 100%;
}

section 
{
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}

ul
{
    list-style: none;
    padding-left: 0;
}

ul.list_checked li::before
{
    content: "✔";
    color: black;
    margin-right: .25rem;
}

.list_dotted ul
{
    margin-top: .375rem;
}

.list_dotted li
{
    line-height: 1.5rem;
    margin-bottom: .375rem;
}

ul.list_dotted li::before
{
    content: "\2022";
    color: black;
    margin-right: .25rem;
}


@media screen and (min-width: 420px) {
    html {
        font-size: calc(10px + 6 * ((100vw - 420px) / 1020));
    }
}
@media screen and (max-width: 420px) {
    html {
        font-size: calc(8px + 8 * ((100vw - 420px) / 1020));
    }
}

@media (max-width: 1000px)
{
    section, header, footer
    {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}