@import "../styles/smartloc.css";


/* HEADER */

.headerHub
{
    padding-bottom: 3.75rem;
}

.headerHub_titling
{
    margin: 3.875rem 0 0 0;
}

.headerHub_titling a
{
    color:black;
}

.headerHub_titling h1
{
    margin: .5rem 0 0 0;
}

.headerHub_illustration
{
    height: 50%;
    right: 20%; 
}

/* responsive */

@media (max-width: 750px)
{
    header h1
    {
        width: 100%;
    }

    .shapes
    {
        display: none;
    }

    .barreRecherche
    {
        padding: 0 5rem;
    }
}