@import "../styles/smartloc.css";
@import "../styles/site-reccurent-elements.css";

/* HEADER */

.headerHub
{
    padding-bottom: 3.75rem;
}

.headerHub_titling
{
    margin: 3.875rem 0 0 0;
}

.headerHub_titling a
{
    color:black;
}

.headerHub_titling h1
{
    margin: .5rem 0 0 0;
}

.headerHub_illustration
{
    height: 50%;
    right: 20%; 
}

/* MAIN */

/* sous categories drop down */
.subCategories_dropDown
{
    height: 4.5rem;   /* hauteur quand l'item est fermé, necessaire à renseigner pour que le dropdown fonctionne */
    margin-top: 1.5rem;    
    padding: 0 1.5rem;
    line-height: 2rem;
    border-radius: .25rem;
    background-color: #fff;
}
.subCategories_dropDown:first-child
{
    margin: 0;
}

.subCategories_dropDown .objetDeroulant__entete
{
    padding: 1.25rem 0;
}

.subCategories_dropDown .dropDownContent
{
    padding-bottom: 1.5rem;
}

.subCategories_dropDown .dropDownContent p
{
    width: 100%;
    padding-bottom: 1.125rem;
    border-bottom: 1px dashed black;
}
.subCategories_dropDown .dropDownContent p:last-child
{
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}


/* responsive */

@media (max-width: 750px)
{
    header h1
    {
        width: 100%;
    }

    .shapes
    {
        display: none;
    }

    .barreRecherche
    {
        padding: 0 5rem;
    }
}