@import "../styles/smartloc.css";
@import "./dossiers-locataires.css";

.formSection h3
{
    margin-bottom: .5rem;
}

.formSection button
{
    margin-top: .5rem;
}

.nextStepsSection h3
{
    margin-bottom: 0px;
}
.nextStepsSection p
{
    margin-top: .5rem;
}