@import "../styles/smartloc.css";

body
{
    background-color: #f4f4f4;
}

.dossierLocataire__ligneProgression
{
    width: 100%;
}

.dossierLocataire__formulaire_section h3,
.dossierLocataire__formulaire_section p,
.dossierLocataire__formulaire_section ul,
.dossierLocataire__formulaire_section ul li:not(:last-of-type)
{
    margin-bottom: .5rem;
}
