@import "../styles/smartloc.css";

/* HEADER */

header{
    position: relative;
    width: 100%;
    height: 25rem;
    padding: 2.5rem 10rem 0px 10rem;
    background-color: #F9DCA5;
}

header nav{
    width: 100%;
    height : 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo
{
    max-width: 13%;
}

.headerLinksContainer
{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

header nav a
{
    cursor: pointer;
    text-decoration: none !important;
    color: black !important;
}

header h1{
    width: 40%;
    margin-top: 6rem;
}

.searchBar
{
    width: 100%;
    padding: 0 10rem;
    position: absolute;
    bottom:0;
    left: 0; 
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 10;
}

/* ajouter a bootstrap */

.searchBar>form{
    position: relative;
}

.searchBar input{
    width: 100% !important;
    border-width: 1px;
}

.searchIcon
{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    border: none;
    background-color: transparent;
    background-image: url(../../../assets/img/smartloc/icons/search.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.shapes
{
    position: absolute;
    bottom:0;
    right: 0; 
}

/* MAIN */

/* Categories */

section{
    margin-top: 6.5rem;
}

section h2{
    margin-bottom: 2.5rem;
}

.categories .cardsContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.categories .card{
    max-width: 16rem;
    border: none;
}

.card-header{
    padding: 1.5rem 1.5rem 1.125rem 1.5rem !important;
    border-bottom: 2px dashed #dee2e6 !important;
    background-color: transparent;
}
.card-header h3{
    margin-top: 1.225rem;
}
.card-title{
    margin-bottom: 0;
}
.card-body{
    padding: 1rem 1.5rem !important;
}

.card img{
    width: 50%;
}

.card .list-group a{
    color: black !important;
}

.list-group-item{
    border: none;
    padding: 0;
    line-height: 32px;
}


/* DOCUMENTS */

.document-choice
{
    border: 2px solid black;
    border-radius: 25px;
}

.document-choice p:first-of-type
{
    border-radius: 25px 0 0 25px;
}
.document-choice p:last-of-type
{
    border-radius: 0px 25px 25px 0;
}

.document-choice p:nth-child(2)
{
    border-left : 2px solid black;
    border-right : 2px solid black;
}

.active  /* classe pour le js */
{
    background-color: black;
    color: white;
}

/* CONTACT */

.contact-section div div
{
    z-index: 10;
}

.contact-section img:first-of-type
{
    top: 0;
    left: 0;
    width:20%;
}
.contact-section img:nth-of-type(2)
{
    top: 0;
    right: 2%;
    width:30%;
}
.contact-section img:nth-of-type(3)
{
    bottom: 0;
    left: 5%;
    width:25%;
}
.contact-section img:nth-of-type(4)
{
    bottom: 0;
    right: 0;
    width:30%;
}

/* FOOTER */

.line
{
    width: 100%;
    height: 1px;
    margin: 3rem 0 3rem 0;
    background-color: rgba(255, 255, 255, 0.3);
}

