*
{
    font-family: Roobert;
}

/* HEADER */

header nav a
{
    cursor: pointer;
    text-decoration: none !important;
}

.searchbar
{
    bottom:0;
    left: 0; 
    right: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 10;
}

.search_icon
{
    top: 20%;
    right: 0;
    width: 50px;
}

.shapes
{
    bottom:0;
    right: 0; 
}

/* MAIN */

/* Categories */

.card-top
{
    border-bottom: 2px dashed #dee2e6 !important;
}

/* DOCUMENTS */

.document-choice
{
    border: 2px solid black;
    border-radius: 25px;
}

.document-choice p:first-of-type
{
    border-radius: 25px 0 0 25px;
}
.document-choice p:last-of-type
{
    border-radius: 0px 25px 25px 0;
}

.document-choice p:nth-child(2)
{
    border-left : 2px solid black;
    border-right : 2px solid black;
}

.active  /* classe pour le js */
{
    background-color: black;
    color: white;
}

/* CONTACT */

.contact-section div div
{
    z-index: 10;
}

.contact-section img:first-of-type
{
    top: 0;
    left: 0;
    width:20%;
}
.contact-section img:nth-of-type(2)
{
    top: 0;
    right: 2%;
    width:30%;
}
.contact-section img:nth-of-type(3)
{
    bottom: 0;
    left: 5%;
    width:25%;
}
.contact-section img:nth-of-type(4)
{
    bottom: 0;
    right: 0;
    width:30%;
}

/* FOOTER */

.line
{
    width: 100%;
    height: 1px;
    margin: 3rem 0 3rem 0;
    background-color: rgba(255, 255, 255, 0.3);
}

