@import "../styles/smartloc.css";
@import "../styles/globalElements.css";

/* HEADER */

header{
    position: relative;
    width: 100%;
    height: 25rem;
    padding-top: 2.5rem;
    background-color: #F9DCA5;
}

header h1{
    width: 40%;
    margin-top: 6rem;
}

.searchBar
{
    width: 100%;
    padding: 0 10rem;
    position: absolute;
    bottom:0;
    left: 0; 
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 10;
}

/* ajouter a bootstrap */

.searchBar>form{
    position: relative;
}

.searchBar input{
    width: 100% !important;
    border-width: 1px;
}

.searchIcon
{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1rem;
    border: none;
    background-color: transparent;
    background-image: url(../../../assets/img/smartloc/icons/search.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.shapes
{
    width: 50%; 
    position: absolute;
    bottom:0;
    right: 10rem; 
}

/* MAIN */

section{
    margin-top: 6.5rem;
}

/* Permet de remonter le parent et permettre un margin top sur les div enfants pour eviter mauvais reponsive */
section>div[class$="Container"]{
    margin-top: -2rem;
}

section h2{
    margin-bottom: 2.5rem;
}

.cardsContainer{
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

/* Categories */

.categories .card{
    width: 16rem;
    margin-top: 2rem;
    border: none;
}

.categories .card img{
    width: 50%;
}

/* ARTICLES */

.articles .card{
    max-width: 22rem;
    margin-top: 2rem;
    border: none;
}

.articles .card p{
    margin-bottom: 0;
}

.articles .cardTop{
    padding-top: .5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* DOCUMENTS */

.documents h2{
    width: 100%;
    text-align: center;
}

.documentChoiceNav
{
    width: 75%;
    height: 3rem;
    margin: auto;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 25px;
}

.docNavItem{
    width: 33.3333%;
    height: inherit;
    line-height: 3rem;
    margin-bottom: 0;
    text-align: center;
    user-select: none;
}

.docNavItem:first-of-type
{
    border-radius: 25px 0 0 25px;
}
.docNavItem:last-of-type
{
    border-radius: 0px 25px 25px 0;
}

.docNavItem:nth-child(2)
{
    border-left : 2px solid black;
    border-right : 2px solid black;
}

.active  /* classe pour le js */
{
    background-color: black;
    color: white;
}

.documents .card{
    width: 48.5%;
    margin-top: 1rem;
    font-weight: bold;
}

.fileIcon{
    width: 1.5rem;
    margin-right: .25rem;
}


/* CONTACT */

.contact
{
    width: 100%;
    height: 28rem;
    margin-top: 4.5rem;
    padding: 30% auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBB9C2;
}

.contact div
{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    z-index: 10;
}

.contact img{
    position: absolute;
}

.contact h2{
    margin-bottom: 2.5rem;
}

.contact img:first-of-type
{
    top: 0;
    left: 0;
    width:20%;
}
.contact img:nth-of-type(2)
{
    top: 0;
    right: 2%;
    width:30%;
}
.contact img:nth-of-type(3)
{
    bottom: 0;
    left: 5%;
    width:25%;
}
.contact img:nth-of-type(4)
{
    bottom: 0;
    right: 0;
    width:30%;
}


/* responsive */

@media (max-width: 750px)
{
    header h1
    {
        width: 100%;
    }

    .shapes
    {
        display: none;
    }

    .searchBar
    {
        padding: 0 5rem;
    }

    .cardsContainer
    {
        align-content: center;
        flex-direction: column;
    }
}