
.sectionConditions .encadrement--gris
{
    padding: 1.5rem 2rem;
}

.sectionImpayes .stats_container
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.sectionImpayes .stats_container h3 
{
    margin-right: 1.5rem;
}

.sectionImpayes .stats_container p
{
    margin-bottom: 0;
}


/* tableau section impayés */
.sectionImpayes .tableau__premiereColonne
{
    width: 20%;
    font-weight: bold;
}

.sectionImpayes .tableau__ligne_cellule, .sectionImpayes .tableau__entete_cellule
{
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.sectionImpayes .tableau__ligne_cellule:not(.tableau__premiereColonne), .sectionImpayes .tableau__entete_cellule:not(.tableau__premiereColonne)
{
    width: 40%;
}

.sectionDoc .section__sousElement
{
    margin-bottom: 2rem;
}

.sectionFAQ .menuSticky--sousElement a
{
    color: rgba(0, 0, 0, 0.6);
    transition: .1s ease-in-out;
}
.sectionFAQ .menuSticky--sousElement a:hover
{
    color: black;
    text-decoration: none;
}


/* tableau section garanties */
.sectionGaranties .tableau__premiereColonne
{
    width: 45%;
}

.sectionGaranties .tableau__ligne_cellule:not(.tableau__premiereColonne), .sectionGaranties .tableau__entete_cellule:not(.tableau__premiereColonne)
{
    width: 15%;
}


/* tableau section status */
.sectionStatus .tableau__entete_cellule:not(.tableau__premiereColonne)
{
    font-size: .875rem;
}

.sectionStatus .tableau__premiereColonne
{
    width: 30%;
}

.sectionStatus .tableau__ligne_cellule:not(.tableau__premiereColonne), .sectionStatus .tableau__entete_cellule:not(.tableau__premiereColonne)
{
    width: 11%;
    text-align: center;
    font-size: .875rem;
}
