*
{
    font-family: Roobert;
}

/* HEADER */

.button
{
    cursor: pointer;
    text-decoration: none !important;
    z-index: 10;
}

header .button
{
    border: 1px solid black;
}

/* MAIN */

.frame
{
    overflow: hidden;
    z-index: 0;
}

.shapes:nth-of-type(1)
{
    bottom: 0;
    left: 30%;
    width: 70%;
    z-index: -2;
}

.shapes:nth-of-type(2)
{
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 50%;
}

.mathieu-description p
{
    font-size: 1.2rem;
}