@import "../styles/smartloc.css";
@import "../styles/site-reccurent-elements.css";

h4{
    margin-bottom: 1rem;
}
h3{
    margin-bottom: 1.5rem;;
}
h2{
    margin-bottom: 2rem;
}

section
{
    padding-bottom: 136px;
    padding-top: 136px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.sectionBailAnnexe .alert-notice
{
    margin-top: 2rem;
}